#form-container {
  @media (min-width: 992px) {
    width: 500px;
  }
  @media (max-width: 991px) {
    width: 300px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lvr-result {
  margin: 8px;
  height: 36px;
}

#buttons-container {
  align-self: stretch;
  display: flex;
  justify-content: space-evenly;
}
